<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>
  <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription ">
    <string>We require access to the camera to use it to upload payment notification attachments and documentation in communication with the service provider.</string>
  </edit-config>
  <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription ">
    <string>We require access to the photo library to use it to upload payment notification attachments and documentation in communication with the service provider.</string>
  </edit-config>
  <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription ">
    <string>We require access to the camera to use it to upload payment notification attachments and documentation in communication with the service provider.</string>
  </edit-config>

</widget>
